* {
    -fx-main-color: #ff5608;
    -fx-main-background-color: #F5F5F5;
}

.border-pane {
    -fx-border-color: none;
}

.button:hover {
    cursor: hand;
}

.split-pane {
    -fx-border-color: none;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-border-color: -fx-main-color;
    -fx-tab-min-width: 90px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab {
    -fx-background-color: -fx-main-background-color;
}

.tab-pane VBox {
    -fx-background-radius: 4;
    -fx-background-color: -fx-main-background-color;
    -fx-border-width: 1 0 0 0;
}

.tab-pane .tab:selected {
    -fx-background-color: -fx-main-color;
}

TreeView {
    -fx-background-color: -fx-main-background-color ;
    -fx-background-insets: 40 0 10 0;
}

TreeView .tree-cell {
    -fx-background-color: -fx-main-background-color ;
    -fx-background-radius: 6;
}

TreeView .tree-cell:selected {
    -fx-text-fill: -fx-main-color;
    -fx-font-weight: 700;
}

TreeView .tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: black;
}

.tab-pane .tab:hover {
    -fx-cursor: hand;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.split-pane *.split-pane-divider {
    -fx-background-color: white;
    -fx-border-color: white;
}

.color-polygon {
    -fx-fill: -fx-main-color;
    -fx-stroke: black;
    -fx-stroke-type: inside;
}

.text-area {
    -fx-font-size: 16px;
}